{% extends 'base.html' %}

{% block title %}
    <title> Изменения пароля </title>
{% endblock %}

{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
    <main class="main container">

        <div class="custom-center-block">
            <p class="custom-text-block">Пароль изменён успешно</p>
            <div class="custom-button-block">
                <a href='/'><button class="button button_style_blue">Перейти на главную</button></a>
            </div>
        </div>

    </main>
{% endblock %}