{% extends 'base.html' %}

{% block title %}
    <title> Сброс пароля </title>
{% endblock %}

{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
    <main class="main container">

        <div class="custom-center-block">
            <p class="custom-text-block">Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля.</p>
            <div class="custom-button-block">
                <a href='/'><button class="button button_style_blue">Перейти на главную</button></a>
            </div>
        </div>

    </main>
{% endblock %}